/* Generales */

body {
    background: #F5EFE1;
    font-family: 'Karla', sans-serif;
    font-size: 14px;
}

.container-fluid {
    max-width: 94%;
    margin-left: auto;
    margin-right: 0px;
    padding: 0px;
}

.row {
    padding: 0px;
    margin: 0px;
}

a {
    opacity: 1 !important;
}

a:hover {
    opacity: 1 !important;
}



/* Flotante */

.float {
    position: fixed;
    width: 6%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    border-right: 2px solid black;
    z-index: 9;
}

.float img {
    width: 30px;
    margin-bottom: 30px;
}

.float .box-black {
    background: black;
    width: 100%;
    height: 90px;
    align-items: flex-end;
}



/* Header */

header {
    border-bottom: 2px solid black;
    position: fixed;
    width: 100%;
    margin: 0%;
    background: #F5EFE1;
    z-index: 1 !important;
}

header nav {
    padding: 0px !important;
}

header nav .navbar-brand {
    padding-left: 30px;
}

header nav .navbar-brand img {
    width: 115px;
    padding: 8px 0px;
}

header nav div div .navbar-nav {
    width: 100%;
}

header nav .navbar-nav {
    display: flex;
    justify-content: flex-end;
}


header nav .navbar-nav a {
    font-size: 1em;
    color: black;
    text-transform: uppercase;
    font-weight: 800;
    padding: 30px 30px !important;
    border-left: 2px solid black;
}

header nav .navbar-nav a:hover {
    color: black;
}


/*Que es*/

.que-es {
    display: flex;
    align-items: center;
    width: 88%;
    margin: auto;
    padding-top: 88px;
}

.que-es img.logo-voces-content {
    width: 200px;
}


.que-es .logo {
    display: flex;
    justify-content: center;
}

.que-es p {
    font-size: 2em;
    text-align: center;
    color: black;
    font-weight: bold;
    line-height: normal;
}

.que-es p span {
    color: #37BBC9;
}


.que-es .enlace {
    display: flex;
    justify-content: center;
}

.ancla {
    height: 30px;
}


/*Videos*/

.persona {
    padding: 0px !important;
    margin: 0px !important;
}

.persona-btn {
    padding: 0px;
    border: 0px;
    position: relative;
    border: 2px solid black;
    z-index: 0 !important;
    width: 100%;
}

.persona-btn img {
    width: 100%;
}

.persona-btn .contenido-oculto {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}


.persona-btn:hover .contenido-oculto {
    display: block;
}


.persona-btn .contenido-oculto img {
    position: absolute;
    top: 0px;
    left: 0px;
}

/*Modal*/

.modal .modal-dialog {
    max-width: 800px;
}

.modal .modal-content {
    background: #F5EFE1;
    border-radius: 0px;
}

.modal .modal-header {
    border: 0px;
    padding: 0px;
    height: 45px;
}

.modal-header .btn-close {
    background: black;
    color: white;
    opacity: 1;
    border-radius: 0px;
    padding: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 0px !important;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn-close p {
    position: absolute;
    margin-bottom: 0px !important;
    font-size: 2em;
    color: white;
}

.modal-body {
    padding: 0px 45px 45px 45px;
}



/*Seccion texto*/
.seccion-texto p {
    font-size: 2em;
    text-align: center;
    color: black;
    font-weight: bold;
    line-height: normal;
}


/*Creditos*/

.linea {
    display: block;
}


.linea-movil {
    display: none;
    width: 100%;
}


.creditos .linea {
    width: 100%;
}

.creditos .logo-creditos {
    position: relative;
    bottom: 60px;
    padding-left: 30px;
}

.creditos .logo-creditos p {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 10px;
}

.creditos .logo-fci {
    width: 150px;
}

/*Sobre el proyecto*/
.sobre-el-proyecto {
    background: url(../img/bg-seccion.png);
    background-size: cover;
    width: 94%;
    margin-left: 6%;
}

.sobre-el-proyecto .container {
    width: 90%;
    margin-left: 0px;
    padding: 100px 0px 0px 40px;
}

.sobre-el-proyecto .container .breadcrumbs ul {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.sobre-el-proyecto .container .breadcrumbs ul li {
    padding-right: 10px;
}

.sobre-el-proyecto .container .breadcrumbs ul li a {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    font-size: 1em;
    font-weight: 300;
    text-decoration: none;
    transition: 0.5s all;
}

.sobre-el-proyecto .container .breadcrumbs ul li a:hover {
    text-decoration: underline;
}

.sobre-el-proyecto .container .breadcrumbs ul li p {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 0px;
}

.sobre-el-proyecto .container .contenido h2 {
    color: white;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 20px;
}

.sobre-el-proyecto .container .contenido p {
    color: white;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.sobre-el-proyecto .logo-creditos {
    padding-left: 40px;
}



.sobre-el-proyecto .logo-creditos {
    position: relative;
    bottom: 60px;
    padding-left: 30px;
}

.sobre-el-proyecto .logo-creditos p {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 10px;
    color: white;
}

.sobre-el-proyecto .logo-creditos .logo-fci {
    width: 150px;
}

.sobre-el-proyecto .linea {
    width: 100%;
}



footer {
    background: black;
    width: 94%;
    margin-left: 6%;
    height: 90px !important;
    display: flex;
    align-items: center;
}

footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding-left: 25px;
}


footer ul li {
    padding-right: 20px;
}

footer img {
    width: 25px;
}



@media(max-width:768px) {

    .container-fluid {
        max-width: 90%;
    }

    .float {
        position: fixed;
        width: 10%;
    }

    .float img {
        padding: 5px;
    }

    .sobre-el-proyecto {
        width: 90%;
        margin-left: 10%;
    }


    header nav .navbar-nav a {
        border-top: 2px solid black;
        border-left: 0px;
    }

    .navbar-toggler-icon {
        margin-right: 20px;
    }

    .que-es {
        width: 100%;
    }

    .que-es p {
        font-size: 1.6em;
        text-align: left;
        padding-left: 40px;
        padding-right: 20px;
    }

    .enlace {
        padding-left: 40px;
    }

    .enlace img {
        width: 35px;
    }

    .seccion-texto p {
        font-size: 1.6em;
        text-align: left;
        padding-left: 40px;
        padding-right: 20px;
    }

    .creditos .logo-creditos {
        bottom: 20px;
    }

}

@media(max-width:500px) {

    .linea {
        display: none;
    }

    .linea-movil {
        display: block;
    }

}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0 !important;
}
