<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
  <meta property="og:title" content="Voces de una nueva generación" />
  <meta property="og:type" content="Voces de una nueva generación" />
  <meta property="og:image" content="_assets/images/voces.png" />
  <meta property="og:description" content="Voces de una nueva generación" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="_assets/images/voces.png" />


  <title>Chileleaks</title>
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">



  <!-- style -->
  <link rel="stylesheet" href="{{ "_assets/css/style.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "_assets/css/all.css" | prepend: site.baseurl }}">

  <!-- Font -->
  <link href="{{ "_assets/css/fonts.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ "_assets/css/fonts_2.css" | prepend: site.baseurl }}" rel="stylesheet">
  
  <!-- Google tag (gtag.js) -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-DE25PQ873N"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DE25PQ873N');
</script> -->

</head>
