---
layout: default
---

<!-- Content -->
		<div class="content clearfix">

<!-- About Voces de una nueva generación -->
				
<!-- About Voces de una nueva generación -->

<!-- About Ciudadanía Inteligente-->


					<!-- <div class="section-block pb-0">
						<div class="row">
							<div class="column width-6 offset-3 center">
								<h2 class="mb-40"><strong>Ciudadanía Inteligente</strong></h2>
							</div>
							<div class="column width-8 offset-2 center">
								<p>Ciudadanía Inteligente es una organización sin fines de lucro que desde 2009
									busca fortalecer las democracias de Latinoamérica, mejorando las reglas del juego
									e impulsando el empoderamiento ciudadano mediante el uso innovador de tecnologías
									y la promoción de la transparencia. Puedes conocer <a href="https://ciudadaniai.org">más de nuestra organización, su financiamiento y equipo aquí</a>.
								</p>
							</div>
						</div>
					</div> -->


		</div>
